/*Folha de estilos*/

.title-pg{
    font-size: 2em;
    font-weight: 900;
    text-transform: uppercase;
    color: black;
}

.edit{

background: #0022d2;
}

.delete{

background: #a70404;
}

.actions{

padding: 6px;

color: white;

text-transform: none;

font-size: 1em;

margin: 0px 2px;
}

.actions:hover{
text-decoration: none;
color: #FFF;
}

.btn-add{
margin-bottom: 10px;

}